{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ heading }}</h1>
    <p>Nous accompagnons vos projets digitaux du concept à la mise en production.</p>
    <ul>
        <li>Conseil et stratégie numérique</li>
        <li>Développement web sur mesure</li>
        <li>Maintenance et support applicatif</li>
    </ul>
{% endblock %}
